

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
/* input {
  display: block;
	outline: none;
	border: none !important;
} */

textarea {
  display: block;
  outline: none;
}

/* textarea:focus, input:focus {
  border-color: transparent !important;
} */

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Utiliti ]*/






/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  /* min-height: 100vh; */

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: center;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: auto;
  text-align: center;
}

.column2 {
  width: auto;
  text-align: center;
 
}

.column3 {
  width: auto;
  text-align: center;
}

.column4 {
  width: auto;
  text-align: center;
}

.column5 {
  width: auto;
  text-align: center;
}

.column6 {
  width: auto;
  text-align: center;
}

.dropdown-menu a{
  color: #36304a;
  font-family: OpenSans-Regular;
  font-size: 18px;
}

img{
  height: 30px;
}

.button{
  display: inline-block;
  padding: 2px;
  height: 20px;
}
.container{
  display: inline-block;
  margin: 0px;
  height: 35px;
  background-color: #36304a;
  background: #36304a;
  border-color: #36304a;
  width: auto;
  border-radius: 5px;
}

a.page-link{
  background: #36304a;
  color: white;
}

.page-item.active .page-link {
  background: #615b74;
  background-color:#615b74 ;
  border-color: #615b74;
  color: white;
}



@media print
{
    .container{
    display:none; 
     }
     a.page-link,  .dataTables_info{
      display:none;
     }
     .dataTables_length, .bs-select label{
      display:none;
     }
     #report_filter.dataTables_filter{
      display:none;
     }
} 
.dropdown-menu a {
  height: auto;
}
.dropdown-menu.show{
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.litext{
    text-align: center; 
    padding: 0; 
}
.litext:hover{
  background: whitesmoke;
}

.dropdown-toggle::after{
  color: white;
}
@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
 
  table tbody tr td:nth-child(1):before {
    content: "Order ID";
  }
  table tbody tr td:nth-child(2):before {
    content: "Name";
  }
  table tbody tr td:nth-child(3):before {
    content: "Price";
  }
  table tbody tr td:nth-child(4):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(5):before {
    content: "Total";
  }
  table tbody tr td:nth-child(6):before {
    content: "Date";
  }

  .column4,
  .column5,
  .column6 {
    text-align: left;
  }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
  .modal-content{
    width:auto;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* EMAIL FORM */
.flex-container {
  
  display: flex;
  margin-top: 6px;

}

.modal-content{
  width:300px;
}

form{
  padding:0px;
  margin:0px;
}
/* 
.month, .form-control{
display: inline;
}

select.form-control{
  width: auto;
}
.day{
  display: block;
} */


/* input.form-control :focus {
  outline: 0;
  outline-offset: 0;
  border-color: #36304a;
}  */

.form-control:focus {
  border-color: #36304a;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #36304a;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #36304a;
  }